<main class="container my-4 flex-grow-1">
  <div class="card shadow-sm p-4">
    <h1 class="mb-4">Impressum</h1>
    <p><strong>MediaMission Project</strong></p>
    <p>
      Оператор сайту / Відповідальна особа:<br />
      [Ваше Ім'я або Назва компанії]<br />
      [Вулиця та будинок]<br />
      [Індекс та Місто], [Країна]
    </p>

    <h3>Контактна інформація</h3>
    <p>
      Email: support@mediamission.example<br />
      Телефон: +380 00 000 0000
    </p>

    <h3>Відповідальність за вміст</h3>
    <p class="text-muted">
      Вміст наших сторінок створено з великою ретельністю. Однак ми не можемо
      гарантувати правильність, повноту та актуальність контенту.
    </p>
  </div>
</main>
