<main class="container my-4 flex-grow-1">
  <div class="card shadow-sm p-4">
    <h1 class="mb-4">Умови використання (Terms of Service)</h1>

    <h3>1. Прийняття умов</h3>
    <p>
      Використовуючи сервіс MediaMission, ви погоджуєтеся дотримуватися цих Умов
      використання.
    </p>

    <h3>2. Правила поведінки та контенту</h3>
    <p>
      Користувачам забороняється завантажувати шкідливий програмний код,
      незаконний контент або матеріали, що порушують авторські права.
    </p>

    <h3>3. Припинення доступу</h3>
    <p>
      Ми залишаємо за собою право призупинити або заблокувати обліковий запис у
      разі порушення цих правил.
    </p>
  </div>
</main>
